.basket-body {
  flex-direction: column;
  align-items: flex-start;
  border-radius: 0 0 0.5rem 0.5rem;
  height: 100%;
}

.basket {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 0.5rem;
  width: auto;
  margin: 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px black;
}

.beer-one {
  display: grid;
  background-color: #8a5416d8;
  background-image: linear-gradient(to bottom, #fff2cc, #fff2cc);
  background-size: 100% 20%;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 10px 5px black;
  border-radius: 10px;
  padding: 5rem;
  margin: 3rem;
  width: 15rem;
  height: 25rem;
}

.beer-one-left {
  display: flex;
  justify-content: space-around;
  width: 10%;
}

.beer-one-left > img {
  width: 100px;
}

.beer-one-right {
  display: flex;
  align-items: center;
  flex-direction: column;
  display: grid;
}

.down-footer {
  margin: 3px;
}

@media screen and (min-width: 720px) {
  .basketBody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 13rem;
  }
}

/* .beer-one-right > h3 {
  align-items: flex-end;
} */
