.beer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 7rem;
}
@media screen and (min-width: 720px) {
  .beer-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 13rem;
  }
}
