* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffd6d6;
}

.beer-info {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 75%;
  margin: auto;
}

.beer-info h1 {
  margin: auto;
  margin-bottom: 2rem;
}

.beer-info-body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: auto;
  border-radius: 0 0 0.5rem 0.5rem;
  background-color: white;
}

.beer-info-body-left {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.beer-info-body-right {
  padding: 2rem;
}

.beer-info-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #f0c300;
  border-radius: 0.5rem 0.5rem 0 0;
}

.beer-info-title h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.beer-info-title h3 {
  font-size: 2rem;
  font-weight: lighter;
  font-style: italic;
}

.beer-info-image {
  height: 30rem;
}

.beer-info-table {
  font-size: 1.3rem;
}

.beer-info-table tr {
  height: 3rem;
}

.beer-info-table td {
  border-bottom: 1px solid #ddd;
  padding: 0.5rem;
}

.beer-info-table tr td:nth-child(odd) {
  font-weight: bold;
  width: 20%;
}
