.beer-item {
  width: 13rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px black;
  background-image: linear-gradient(to bottom, #fff2cc, #fff2cc);
  background-size: 100% 20%;
  background-repeat: no-repeat;
}
.beer-item img {
  margin-top: 8px;
  width: auto;
  height: 150px;
}
.info_img {
  display: flex;
  justify-content: space-around;
  width: 90%;
}
.info {
  margin-top: 1rem;
  font-size: 2rem;
  color: black;
}
.fav {
  margin-top: 1rem;
  font-size: 2rem;
}
.name {
  margin: 5px;
}
.type {
  margin: 0;
  display: flex;
  justify-content: center;
}
.tagline {
  margin-top: 5px;
  margin-bottom: 0;
  font-style: italic;
}

.abv_volume {
  width: 10rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
}
