.contact-container {
  height: 700px;
  margin: auto;
  top: 20px;
  left: 0px;
  display: flex;
  flex-direction: column;
  width: 13rem;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  width: 20%;
  padding: 5px;
  box-shadow: 0px 0px 10px 5px black;
  border-radius: 0 0 0.5rem 0.5rem;
}

.contact-form {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.contact-input {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  margin-bottom: 5%;
  flex-direction: column;
  text-align: center;
}

.contact-textarea {
  resize: none;
  width: 90%;
  height: 15rem;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
}

.input-invalid {
  border: red solid;
}

.textarea-invalid {
  border: red solid;
}

@media screen and (max-width: 720px) {
  .contact-container {
    width: 90%;
  }
}
