.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("../assets/image-navbar.png");
  height: 10rem;
}

.navbar-header {
  margin-bottom: 2rem;
}

.title-site {
  font-size: 3rem;
  color: white;
}

.navbar-menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  height: 4rem;
  background: url("../assets/image-navbar.png");
}

.home {
  color: white;
  width: 100%;
  text-decoration: none;
  padding-left: 5rem;
}
